{% extends 'base.twig' %}

{% block title %}Reset your password{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('build/profile_reset_pwd_css.css') }}">
{% endblock %}

{% block body %}
	<main class="container container-full container-translate">
		<h1>Reset your password</h1>

		<ul class="form-errors">
			{% for flash_error in app.flashes('reset_password_error') %}
				<li class="alert alert-danger" role="alert">{{ flash_error }}</li>
			{% endfor %}
		</ul>

		{{ form_start(requestForm) }}
			<div class="single-input">
				<label> {{ requestForm.email.vars.label }} </label>
				{{ form_widget(requestForm.email) }}
			</div>

			<div>
				<small>
					Enter your email address, and we will send you a
					link to reset your password.
				</small>
			</div>

			<div class="action-btn">
				<button class="btn btn-large">Send password reset email</button>
			</div>

		{{ form_end(requestForm) }}
	</main>
{% endblock %}
