<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>
			{% block title %}Welcome to Saucer !{% endblock %}
		</title>

		{% block opg %}
			<meta property="og:url" content="{{ app.request.uri }}" />
			<meta property="og:locale" content="fr_FR" />
			<meta property="og:locale:alternate" content="en_US" />
			<meta property="og:locale:alternate" content="en_GB" />
			<meta property="og:site_name" content="Saucer" />
		{% endblock %}

        <link rel="icon" href="{{ asset('icon.ico') }}">
        <link rel="stylesheet" href="{{ asset('build/common.css') }}">
        <link rel="stylesheet" href="{{ asset('build/header.css') }}">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% include 'common/header.twig' %}
        {% block body %}{% endblock %}


		{% block javascripts %}
		{% endblock %}

		<img
			alt=""
			id="main-bg"
			class="main-bg"
			src="{{ asset('assets/img/bg.png') }}"
		/>

		{{ encore_entry_script_tags('main') }}
    </body>
</html>
