{% for recipe in recipes %}
	<a class="card" href="{{ path('app_recipes_single', {'id': recipe.id}) }}">
		{% if recipe.thumbnail is not null %}
			<img class="recipe-img" src="{{ asset('uploads/recipes/' ~ recipe.thumbnail) }}" alt="recipe image">
		{% endif %}

		<div class="article-container">
			<p><b>{{ recipe.title }}</b></p>
			<p><i>{{ recipe.description }}</i></p>

			<hr/>

			<div class="cook-prep-container">
				<div title="Preparation time" class="prep-time">
					<span class="iconify" data-icon="mingcute:time-fill"></span>
					<p class="target-prep-time">{{ recipe.prepTime ?? 0 }} minute(s)</p>
				</div>

				<div title="Cooking time" class="cook-time">
					<span class="iconify" data-icon="mdi:fire"></span>
					<p class="target-prep-time">{{ recipe.cookTime ?? 0 }} minute(s)</p>
				</div>
			</div>
		</div>
	</a>
{% endfor %}