{% extends "base.twig" %}

{% block body %}

	{% if recipe.thumbnail %}
		<img src="{{ asset('uploads/recipes/' ~ recipe.thumbnail) }}"/>
	{% else %}
		<h3>No thumbnail ?</h3>
	{% endif %}

	<h1>{{ recipe.title }}</h1>
	<p><i>{{ recipe.description }}</i></p>

	<hr>

	<p>Préparation: {{ recipe.prepTime }} mins</p>
	<p>Cuisson: {{ recipe.cookTime }} mins</p>

	<hr>

	<h2>Ustensiles</h2>

	<ul>
		{% for ustensil in recipe.ustensils %}
			<li>
				{{ ustensil.nom }}
			</li>
		{% endfor %}
	</ul>

	<hr>

	<h2>Ingredients</h2>

	<ul>
		{% for ingredient in recipe.ingredients %}
			<li>
				{{ ingredient.nom }}
			</li>
		{% endfor %}
	</ul>

	<hr>

	<h2>Instructions</h2>

	<ul>
	{% for instruction in recipe.instructions %}
		<li>
			<div>
				<img src="{{ asset('uploads/recipes/' ~ instruction.media) }}">
				{{ instruction.content }}
			</div>

		</li>
	{% endfor %}
	</ul>

	<hr>

{% endblock %}