{% extends "base.twig" %}

{% block opg %}
	{{ parent() }}

	{% if recipe.title %}
		<meta property="og:title" content="{{ recipe.title }}" />
	{% endif %}


	{% if recipe.thumbnail %}
		<meta property="og:image" content='{{ app.request.getSchemeAndHttpHost() ~ "/uploads/recipes/" ~ recipe.thumbnail}}' />
	{% endif %}

	<meta property="og:type" content="article" />

	{% if recipe.description %}
		<meta property="og:description" content="{{ recipe.description }}" />
	{% endif %}

	<meta property="og:determiner" content="auto" />
{% endblock %}

{% block body %}

	{% if recipe.thumbnail %}
		<img src="{{ asset('uploads/recipes/' ~ recipe.thumbnail) }}"/>
	{% else %}
		<h3>No thumbnail ?</h3>
	{% endif %}

	<h1>{{ recipe.title }}</h1>
	<p><i>{{ recipe.description }}</i></p>

	<hr>

	<p>Préparation: {{ recipe.prepTime }} mins</p>
	<p>Cuisson: {{ recipe.cookTime }} mins</p>

	<hr>

	<h2>Favori ?</h2>
	{% if favorite %}
		Favori
	{% else %}
		Mettre en favori
	{% endif %}

	<br/>
		<a href="{{ path('app_recipes_favorite', {'id': recipe.id}) }}">Favori</a>
	<hr>

	<h2>Ustensiles</h2>

	<ul>
		{% for ustensil in recipe.ustensils %}
			<li>
				{{ ustensil.nom }}
			</li>
		{% endfor %}
	</ul>

	<hr>

	<h2>Partager</h2>
	{% include "common/share.twig" %}

	<hr>

	<h2>Ingredients</h2>

	<ul>
		{% for recipeIngre in recipe.recipeIngredients %}
			<li>
				{{ recipeIngre.quantity }}
				{{ recipeIngre.unit }}
				de
				{{ recipeIngre.ingredient.nom }}s
			</li>
		{% endfor %}
	</ul>

	<hr>

	<h2>Instructions</h2>

	<ul>
	{% for instruction in recipe.instructions %}
		<li>
			<div>
				<img src="{{ asset('uploads/recipes/' ~ instruction.media) }}">
				{{ instruction.content }}
			</div>

		</li>
	{% endfor %}
	</ul>

	<hr>

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('recipe_single') }}
{% endblock %}
