{% extends "base.twig" %}

{% block opg %}
	{{ parent() }}

	{% if recipe.title %}
		<meta property="og:title" content="{{ recipe.title }}" />
	{% endif %}


	{% if recipe.thumbnail %}
		<meta property="og:image" content='{{ app.request.getSchemeAndHttpHost() ~ "/uploads/recipes/" ~ recipe.thumbnail}}' />
	{% endif %}

	<meta property="og:type" content="article" />

	{% if recipe.description %}
		<meta property="og:description" content="{{ recipe.description }}" />
	{% endif %}

	<meta property="og:determiner" content="auto" />
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('build/recipe_single_css.css') }}">
{% endblock %}

{% block body %}
	<main class="container-translate">
		<div class="container">
			{% if recipe.thumbnail %}
				<section id="thumbnail">
					<img class="main-thumbnail" src="{{ asset('uploads/recipes/' ~ recipe.thumbnail) }}" alt="thumbnail"/>
				</section>
			{% endif %}

			<div class="content">
				<section id="g-infos">
					<h1>{{ recipe.title }}</h1>
					<p class="description"><i>{{ recipe.description }}</i></p>

					<div class="timings-share">
						<div class="timings">
							<p class="prep">
								<span class="iconify" data-icon="mingcute:time-fill"></span>
								<span class="title-timing">Preparation time</span>
								<span class="val-timing">{{ recipe.prepTime }} min(s)</span>
							</p>
							<p class="cook">
								<span class="iconify" data-icon="mdi:fire"></span>
								<span class="title-timing">Cooking time</span>
								<span class="val-timing">{{ recipe.cookTime }} min(s)</span>
							</p>
						</div>

						<hr class="vertical"/>

						<div class="share">
							<h5>Like</h5>

							<div class="fav">
								{% set nbrLikes = likes ?? 0 %}

								{% if favorite is null %}
									<div class="fav-action">
										<span class="iconify icon-heart" data-icon="mdi:heart"></span> <p class="nbr-likes">{{ nbrLikes }} like{{ nbrLikes > 1 ? 's' : '' }}</p>
									</div>

									Please <a href="{{ path('app_login') }}">login</a> to add this to your favorites.
								{% else %}
									{% if favorite=='true' %}
										<div class="fav-action">
											<a class="fav-link" href="{{ path('app_recipes_favorite', {'id': recipe.id}) }}">
												<span class="iconify icon-heart" data-icon="mdi:heart"></span>
											</a>

											<p class="nbr-likes">{{ nbrLikes }} like{{ nbrLikes > 1 ? 's' : '' }}</p>
										</div>
									{% else %}
										<div class="fav-action">
											<a class="fav-link" href="{{ path('app_recipes_favorite', {'id': recipe.id}) }}">
												<span class="iconify icon-heart" data-icon="mdi:heart-outline"></span>
											</a>

											<p class="nbr-likes">{{ nbrLikes }} like{{ nbrLikes > 1 ? 's' : '' }}</p>
										</div>
									{% endif %}
								{% endif %}

								<div class="user-profile">
									<p>Recipe by
										<a href="{{ path('app_user', {'id': author.id}) }}">
											{{ author.userIdentifier }}
										</a>
									</p>
								</div>
							</div>


							<h5>Share</h5>
							{% include "common/share.twig" %}
						</div>
					</div>
				</section>

				<hr style="margin-top: 2rem !important;margin-bottom: -5px;">

				<section id="needs">
					<div class="ingredients need-container">
						{% if recipe.recipeIngredients|length > 0 %}
							<h5 class="cat-title">
								{{ recipe.recipeIngredients|length }}
								ingredient{{ recipe.recipeIngredients|length > 1 ? 's' : '' }}
							</h5>

							<ul class="cat-container">
								{% for recipeIngre in recipe.recipeIngredients %}
									<li>
										{{ recipeIngre.quantity }}
										{{ recipeIngre.unit }}
										of
										{{ recipeIngre.ingredient.nom }}
									</li>
								{% endfor %}
							</ul>
						{% else %}
							<h5 class="cat-title">No ingredients are needed for this recipe.</h5>
						{% endif %}
					</div>

					<hr class="vertical"/>

					<div class="ustensils need-container">
						{% if recipe.ustensils|length > 0 %}
							<h5 class="cat-title">
								{{ recipe.ustensils|length }}
								ustensil{{ recipe.ustensils|length > 1 ? 's' : '' }}
							</h5>

							<ul class="cat-container">
								{% for ustensil in recipe.ustensils %}
									<li>{{ ustensil.nom }}</li>
								{% endfor %}
							</ul>
						{% else %}
							<h5 class="cat-title">No ustensils are needed for this recipe.</h5>
						{% endif %}
					</div>
				</section>

				<hr>

				<section id="instructions">
					{% if recipe.instructions|length > 0 %}
						{% set index = 0 %}
						{% for instruction in recipe.instructions %}
							<div class="instruction-container">
								<div class="step-separator">
									<h3 class="target-step">
										{% if index+1 < 10 %}
											0{{ index+1 }}
										{% else %}
											{{ index+1 }}
										{% endif %}

									</h3>
								</div>

								<div class="instruction-content">
									{% if file_exists(instruction.media ?? 'a') %}
										<div class="instruction-media">
											<img class="target-media" src="{{ asset('uploads/recipes/' ~ instruction.media) }}" />
										</div>
									{% endif %}

									<div class="instruction-text">
										{{ instruction.content }}
									</div>
								</div>
							</div>

							{%  set index = index+1 %}
						{% endfor %}
					{% else %}
						<h2 class="inst-title">No instructions.</h2>
					{% endif %}
				</section>
			</div>
		</div>
	</main>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('recipe_single') }}
{% endblock %}
